<div class="post-full-width-image">
    <img src="img/posts/playground.jpg" alt="Lets play with Regex">
</div>
<div class="post-title">
    Regex Playground
</div>
<div class="post-content">
    <p>So if you have solved the previous challenge of dolor and dolore, you might have found out how <span class="highlight">/dolor/</span> not only find's <span class="highlight">"dolor"</span> but also highlights <span class="highlight">"dolor</span> in word <span class="highlight">"dolore"</span>. So to fix this we simply add whitespace at the end.</p>

    <p>So to find <span class="highlight"> "dolor"</span> regex is <span class="highlight"> /dolor /</span></p>
    <p>And to find <span class="highlight"> "dolore"</span> regex is <span class="highlight">/dolore /</span></p>

    <p>So in this level we are going to solve few challenges and new tricks in using Regex</p>

    <p class="secondary-title">Challenge #1</p>

    <p>You have to build a Regex to find Postal Code of Moonland in the given string of Postal Codes. All Moonland Postal code are six digits, may or may not contain "-" after three numbers and always starts with "452" or "958".</p>
    <blockquote>
        123-456, 425-958, 426-545, 24584, 4564486, 958-542, 452875, 44656, 58635, 854-452, 958-452 
    </blockquote>
    <p>Go ahead and try . . . (<a href="http://regexr.com/" target="_blank">Regexr</a>)</p>

</div>
