<style>
    body {
        background-color: #ececec;
    }
    
    .content>.content-title {
        display: none;
    }
    
    .content>.content-body {
        background: transparent;
        padding: 20px 0;
        margin-top: 0;
    }
    
    .topic-box {
        background: white;
        padding: 10px 15px;
        text-align: center;
        margin: 10px;
        box-shadow: 0 0 4px silver;
        height: 200px;
    }
    
    .columns+.columns:nth-child(n) {
        float: left;
    }
    
    .topic-box>.content {
        float: none;
        width: 100%;
        margin-left: 0;
        bottom: 0;
    }
    
    .topic-box>.topic-image {
        height: 90px;
    }
    
    .topic-box>.topic-image>img {
        height: 90px;
        padding: 10px;
    }
    
    .topic-box>.content>.title {
        font-size: 26px;
        font-weight: bold;
        padding: 10px;
    }
    
    .topic-box>.content>a {
        display: block;
        padding: 10px;
        width: 100%;
        border-top: 1px solid #f1f1f1;
        color: #2ecc71;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
    
    .topic-box>.content>a.coming-soon {
        color: silver;
        cursor: default;
    }
    
    .topic-box>.content>a:hover {
        color: #27ae60;
        text-shadow: 0 0 1px #27ae60;
    }
    
    .topic-box>.content>a.coming-soon:hover {
        color: silver;
        text-shadow: none;
    }
</style>
<div class="row">
    <div class="small-2 large-4 columns">
        <div class="topic-box">
            <div class="topic-image">
                <img src="img/home/regex.jpg" alt="Regex" style="height: 75px;" />
            </div>
            <div class="content">
                <div class="title">Regular Expression</div>
                <a data-url="regex/introduction" data-title="Regular Expression - Introduction" onclick="getData(this)">Start Exploring</a>
            </div>
        </div>
    </div>
    <div class="small-2 large-4 columns">
        <div class="topic-box">
            <div class="topic-image">
                <img src="img/home/git.jpg" alt="Git" />
            </div>
            <div class="content">
                <div class="title">Mastering Git</div>
                <a data-url="git/home" data-title="Master Git" class="coming-soon">Coming Soon</a>
            </div>
        </div>
    </div>
    <div class="small-2 large-4 columns">
        <div class="topic-box">
            <div class="topic-image">
                <img src="img/home/css.jpg" alt="CSS3 Tricks" />
            </div>
            <div class="content">
                <div class="title">CSS3 Tricks</div>
                <a data-url="" data-title="" class="coming-soon">Coming Soon</a>
            </div>
        </div>
    </div>
    <div class="small-2 large-4 columns">
        <div class="topic-box">
            <div class="topic-image">
                <img src="img/home/javascript.jpg" alt="JavaScript" />
            </div>
            <div class="content">
                <div class="title">JavaScript</div>
                <a data-url="" data-title="" class="coming-soon">Coming Soon</a>
            </div>
        </div>
    </div>
    <div class="small-2 large-4 columns">
        <div class="topic-box">
            <div class="topic-image">
                <img src="img/home/jquery.jpg" alt="JQuery" />
            </div>
            <div class="content">
                <div class="title">Mastering jQuery</div>
                <a data-url="" data-title="" class="coming-soon">Coming Soon</a>
            </div>
        </div>
    </div>
    <div class="small-2 large-4 columns">
        <div class="topic-box">
            <div class="topic-image">
                <img src="img/home/react.jpg" alt="React" />
            </div>
            <div class="content">
                <div class="title">Mastering React</div>
                <a data-url="" data-title="" class="coming-soon">Coming Soon</a>
            </div>
        </div>
    </div>
    <div class="small-2 large-4 columns">
        <div class="topic-box">
            <div class="topic-image">
                <img src="img/home/redux.jpg" alt="Redux" />
            </div>
            <div class="content">
                <div class="title">Mastering Redux</div>
                <a data-url="" data-title="" class="coming-soon">Coming Soon</a>
            </div>
        </div>
    </div>
    <div class="small-2 large-4 columns">
        <div class="topic-box">
            <div class="topic-image">
                <img src="img/home/angular.jpg" alt="Angular" />
            </div>
            <div class="content">
                <div class="title">Mastering Angular</div>
                <a data-url="" data-title="" class="coming-soon">Coming Soon</a>
            </div>
        </div>
    </div>
    <div class="small-2 large-4 columns">
        <div class="topic-box">
            <div class="topic-image">
                <img src="img/home/node.jpg" alt="Node" />
            </div>
            <div class="content">
                <div class="title">Mastering Node</div>
                <a data-url="" data-title="" class="coming-soon">Coming Soon</a>
            </div>
        </div>
    </div>
    <div class="small-2 large-4 columns">
        <div class="topic-box">
            <div class="topic-image">
                <img src="img/home/ember.jpg" alt="Ember" />
            </div>
            <div class="content">
                <div class="title">Mastering Ember</div>
                <a data-url="" data-title="" class="coming-soon">Coming Soon</a>
            </div>
        </div>
    </div>
    <div class="small-2 large-4 columns">
        <div class="topic-box">
            <div class="topic-image">
                <img src="img/home/npm.jpg" alt="NPM" />
            </div>
            <div class="content">
                <div class="title">Mastering NPM</div>
                <a data-url="" data-title="" class="coming-soon">Coming Soon</a>
            </div>
        </div>
    </div>
    <div class="small-2 large-4 columns">
        <div class="topic-box">
            <div class="topic-image">
                <img src="img/home/gulp.jpg" alt="Gulp" />
            </div>
            <div class="content">
                <div class="title">Mastering Gulp</div>
                <a data-url="" data-title="" class="coming-soon">Coming Soon</a>
            </div>
        </div>
    </div>
    <div class="small-2 large-4 columns">
        <div class="topic-box">
            <div class="topic-image">
                <img src="img/home/webpack.jpg" alt="Webpack" />
            </div>
            <div class="content">
                <div class="title">Mastering Webpack</div>
                <a data-url="" data-title="" class="coming-soon">Coming Soon</a>
            </div>
        </div>
    </div>
    <div class="small-2 large-4 columns">
        <div class="topic-box">
            <div class="topic-image">
                <img src="img/home/mysql.jpg" alt="MySQL" style="height:120px" />
            </div>
            <div class="content">
                <div class="title">SQL/MySQL</div>
                <a data-url="" data-title="" class="coming-soon">Coming Soon</a>
            </div>
        </div>
    </div>
    <div class="small-2 large-4 columns">
        <div class="topic-box">
            <div class="topic-image">
                <img src="img/home/mongo.jpg" alt="Mongo DB" style="height:120px" />
            </div>
            <div class="content">
                <div class="title" style="font-size: 16px;">Mastering Mongo DB</div>
                <a data-url="" data-title="" class="coming-soon">Coming Soon</a>
            </div>
        </div>
    </div>
    <div class="small-2 large-4 columns">
        <div class="topic-box">
            <div class="topic-image">
                <img src="img/home/couch.jpg" alt="Couch DB" style="height:120px" />
            </div>
            <div class="content">
                <div class="title" style="font-size: 16px;">Mastering Couch DB</div>
                <a data-url="" data-title="" class="coming-soon">Coming Soon</a>
            </div>
        </div>
    </div>
    <div class="small-2 large-4 columns">
        <div class="topic-box">
            <div class="topic-image">
                <img src="img/home/oracledb.jpg" alt="Oracle DB" />
            </div>
            <div class="content">
                <div class="title">Oracle DB</div>
                <a data-url="" data-title="" class="coming-soon">Coming Soon</a>
            </div>
        </div>
    </div>
    <div class="small-2 large-4 columns">
        <div class="topic-box">
            <div class="topic-image">
                <img src="img/home/java.jpg" alt="Java / J2EE" />
            </div>
            <div class="content">
                <div class="title">Java / J2EE</div>
                <a data-url="" data-title="" class="coming-soon">Coming Soon</a>
            </div>
        </div>
    </div>
    <div class="small-2 large-4 columns">
        <div class="topic-box">
            <div class="topic-image">
                <img src="img/home/java.jpg" alt="Advanced Java" />
            </div>
            <div class="content">
                <div class="title">Advanced Java</div>
                <a data-url="" data-title="" class="coming-soon">Coming Soon</a>
            </div>
        </div>
    </div>
    <div class="small-2 large-4 columns">
        <div class="topic-box">
            <div class="topic-image">
                <img src="img/home/hibernate.jpg" alt="Hibernate" />
            </div>
            <div class="content">
                <div class="title">Hibernate</div>
                <a data-url="" data-title="" class="coming-soon">Coming Soon</a>
            </div>
        </div>
    </div>
    <div class="small-2 large-4 columns">
        <div class="topic-box">
            <div class="topic-image">
                <img src="img/home/spring.jpg" alt="Spring" />
            </div>
            <div class="content">
                <div class="title">Spring</div>
                <a data-url="" data-title="" class="coming-soon">Coming Soon</a>
            </div>
        </div>
    </div>
    <div class="small-2 large-4 columns">
        <div class="topic-box">
            <div class="topic-image">
                <img src="img/home/jenkin.jpg" alt="Jenkins" />
            </div>
            <div class="content">
                <div class="title">Mastering Jenkins</div>
                <a data-url="" data-title="" class="coming-soon">Coming Soon</a>
            </div>
        </div>
    </div>
    <div class="small-2 large-4 columns">
        <div class="topic-box">
            <div class="topic-image">
                <img src="img/home/junit.jpg" alt="JUnit" style="height:70px" />
            </div>
            <div class="content">
                <div class="title">Mastering JUnit</div>
                <a data-url="" data-title="" class="coming-soon">Coming Soon</a>
            </div>
        </div>
    </div>
    <div class="small-2 large-4 columns">
        <div class="topic-box">
            <div class="topic-image">
                <img src="img/home/jasmine.jpg" alt="Jasmine" />
            </div>
            <div class="content">
                <div class="title">Mastering Jasmine</div>
                <a data-url="" data-title="" class="coming-soon">Coming Soon</a>
            </div>
        </div>
    </div>
    <div class="small-2 large-4 columns">
        <div class="topic-box">
            <div class="topic-image">
                <img src="img/home/karma.jpg" alt="Karma" />
            </div>
            <div class="content">
                <div class="title">Mastering Karma</div>
                <a data-url="" data-title="" class="coming-soon">Coming Soon</a>
            </div>
        </div>
    </div>
    <div class="small-2 large-4 columns">
        <div class="topic-box">
            <div class="topic-image">
                <img src="img/home/linux.jpg" alt="Linux Quickies" />
            </div>
            <div class="content">
                <div class="title">Linux Quickies</div>
                <a data-url="" data-title="" class="coming-soon">Coming Soon</a>
            </div>
        </div>
    </div>
    <div class="small-2 large-4 columns">
        <div class="topic-box">
            <div class="topic-image">
                <img src="img/home/server.jpg" alt="Server Quickies" style="height: 130px;" />
            </div>
            <div class="content">
                <div class="title">Server Quickies</div>
                <a data-url="" data-title="" class="coming-soon">Coming Soon</a>
            </div>
        </div>
    </div>
    <div class="small-2 large-4 columns">
        <div class="topic-box">
            <div class="topic-image">
                <img src="img/home/aws.jpg" alt="AWS" />
            </div>
            <div class="content">
                <div class="title">Mastering AWS</div>
                <a data-url="" data-title="" class="coming-soon">Coming Soon</a>
            </div>
        </div>
    </div>
    <div class="small-2 large-4 columns">
        <div class="topic-box">
            <div class="topic-image">
                <img src="img/home/react-logo-native.jpg" alt="React Native" style="height: 130px;" />
            </div>
            <div class="content">
                <div class="title">React Native</div>
                <a data-url="" data-title="" class="coming-soon">Coming Soon</a>
            </div>
        </div>
    </div>
    <div class="small-2 large-4 columns">
        <div class="topic-box">
            <div class="topic-image">
                <img src="img/home/magento.jpg" alt="Magento 2" />
            </div>
            <div class="content">
                <div class="title">Magento 2</div>
                <a data-url="" data-title="" class="coming-soon">Coming Soon</a>
            </div>
        </div>
    </div>
    <div class="small-2 large-4 columns">
        <div class="topic-box">
            <div class="topic-image">
                <img src="img/home/soapui.jpg" alt="Soap UI" />
            </div>
            <div class="content">
                <div class="title">Mastering Soap UI</div>
                <a data-url="" data-title="" class="coming-soon">Coming Soon</a>
            </div>
        </div>
    </div>
    <div class="small-2 large-4 columns">
        <div class="topic-box">
            <div class="topic-image">
                <img src="img/home/postman.jpg" alt="Postman" />
            </div>
            <div class="content">
                <div class="title">Mastering Postman</div>
                <a data-url="" data-title="" class="coming-soon">Coming Soon</a>
            </div>
        </div>
    </div>
    <div class="small-2 large-4 columns">
        <div class="topic-box">
            <div class="topic-image">
                <img src="img/home/alds.jpg" alt="Algorithms and Data Structures" />
            </div>
            <div class="content">
                <div class="title" style="font-size: 16px;">Algorithms and Data Structures</div>
                <a data-url="" data-title="" class="coming-soon">Coming Soon</a>
            </div>
        </div>
    </div>
</div>